
{% extends "layout.html" %}

{% block content %}

    <h1>Cassette Beasts Lookup</h1>

    <p>This page allows users to query data about the monsters in the game 'Cassette Beasts'.</p>

    <label>Click To Display All Beasts</label>

    <form action="/cb_form" method="POST">

        <label>Cassette Beast Name:</label>
        <input type="text" name="Name" placeholder="Springheel">
        <br>

        <label>Cassette Beast Number:</label>
        <input type="text" number="Number" placeholder="#001">
        <br>

        <button class="btn btn-success">Submit</button>
        <br>

        <button class="btn display">Display All</button>

    </form>

{% endblock %}