{% extends "layout.html" %}

{% block content %}

    <h1>Cassette Beasts Lookup</h1>

    <p>This page allows users to query data about the monsters in the game 'Cassette Beasts'.</p>
    <p>Please enter the name or number of the monster below.</p>

    <form action="/cb_lookup" method="POST">

        <label>RESULT BELOW:</label>
        <br>

        <script type="text/javascript">

            console.log("Loaded CB Lookup...")
            print.data
            
        </script>

    </form>

{% endblock %}